.navbar-font {
  font-family: "Rampart One", cursive;
  font-size: 20px;
}
body {
  background-color: #79c2d0 !important;
}
.navbar-color {
  background-color: #53a8b6;
}

.navbar-nav > li > a:hover {
  background-color: #e0e2e2;
  border-radius: 10px;
}

.hello {
  font-family: "Bungee Shade", cursive;
  font-size: 70px;
}
.world {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 100px;
}
.intro {
  font-family: "Poiret One", cursive;
  font-size: 20px;
}
#photo {
  border-radius: 15px;
  border: 5px solid black;
}

.page-title {
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}
.about-me {
  padding: 30px;
  font-family: "Poiret One", cursive;
  background-color: #e0e2e2;
  font-size: 20px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 25px;
}
.about-photo {
  border: 2px solid black;
  margin-bottom: 50px;
  margin-top: 20px;
  object-fit: cover;
}
.emoji-flower {
  position: relative;
  bottom: 2px;
  font-size: 35px;
}
.about-emoji {
  font-size: 25px;
}
.contact .social-tag {
  font-family: "Bungee Shade", cursive;
  font-size: 40px;
  font-weight: bolder;
}
.contact .phone-photo {
  border: 2px black solid;
  border-radius: 20px;
}
.contact .social-media {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 75px 0px;
  border-radius: 20px;
  background-color: #e0e2e2;
  border: 5px solid black;
}
.contact .social-connect {
  font-size: 25px;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}
.contact a {
  text-decoration: none;
  color: black;
}
.vanderbilt {
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 10px;
}
.umd {
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 10px;
}
.education .education-about {
  background: #e0e2e2;
  padding: 0 20 0 20px;
  text-align: center;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Poiret One", cursive;
}
.school-title {
  font-size: 25px;
  font-family: "Poiret One", cursive;
}
.education .coding-certificates {
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 75px;
}

.certificate-image {
  border: 2px solid black;
  margin-top: 20px;
  object-fit: cover;
}

.portfolio .app-title {
  text-align: center;
  font-family: "Rampart One", cursive;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}
.portfolio .weather {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 1200px;
  height: 800px;
}
.portfolio .responsive {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 1200px;
  height: 400px;
}
.portfolio .portfolio-about {
  margin-left: 25px;
  margin-top: 15px;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 18px;
  border: 2px black solid;
  background-color: #e0e2e2;
  line-height: 2;
  border-radius: 15px;
  padding: 10px;
}
.portfolio .example-git-weather {
  display: block;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 15px;
  border: 2px black solid;
  background-color: #e0e2e2;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 120px;
  margin-bottom: 20px;
}
.portfolio .example-git-responsive {
  display: block;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 15px;
  border: 2px black solid;
  background-color: #e0e2e2;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  padding: 30px;
  width: 60%;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 120px;
  margin-bottom: 20px;
}
footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  background-color: #53a8b6;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 50%;
  border: black solid 1px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-family: "Rampart One", cursive;
  font-size: 20px;
}
footer .email-link:hover {
  color: blue;
}
footer .social-links a:hover {
  background-color: #e0e2e2;
}
footer .footer-box {
  background-color: #e0e2e2;
  padding: 25px;
  border-radius: 10px;
  border: black solid 1px;
}

@media only screen and (max-width: 600px) {
  .emoji-flower {
    display: none;
  }
  .page-title {
    font-size: 30px;
  }
  .contact .social-tag {
    font-size: 30px;
  }
  .education .coding-certificates {
    font-size: 30px;
  }
  .contact .social-connect {
    font-size: 15px;
  }

  .portfolio .portfolio-about {
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .portfolio .example-git-weather,
  .portfolio .example-git-responsive {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    width: 100%;
  }
  .portfolio .weather {
    height: 800px;
    text-align: center;
  }
  .portfolio .responsive {
    height: 500px;
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .portfolio .weather {
    height: 800px;
  }
  .portfolio .portfolio-about {
    margin-left: 0px;
  }
  .portfolio .example-git-weather {
    margin-left: 0px;
    margin-right: 0px;
  }
  .portfolio .example-git-responsive {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}
